@import "./Colors.scss";

.swal-modal {
    background-color: $dcolor;
    border: 3px solid $lcolor;

    .swal-title,
    .swal-text {
        color: $lcolor;
        text-align: center;
    }

    .swal-title {
        font-size: 3.4rem;
    }

    .swal-text {
        font-size: 2rem;
    }

    .swal-button {
        background-color: $dcolor;
        color: $lcolor;
        border: 2px solid $lcolor;
        opacity: 0.8;

        &:hover {
            background-color: $lcolor;
            color: $dcolor;
        }
    }

    .swal-footer {
        display: flex;
        justify-content: center;
    }
}