@import "../../../../../global-css/Colors.scss";

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  transition: all 0s;


  &.dark {
    background-color: $dtile;
  }

  &.target {
    background-color: rgba($ttile, .5);
  }

  &.light {
    background-color: $ltile;
  }

  &.selected {
    background-color: $stile;
    filter: saturate(1.5);
  }

  &.lastmove {
    background-color: $lastmovetile;
  }

  &.targetpiece {
    background-color: $tptile;
  }

  &:hover {
    background-color: $stile;
  }
}