@import "../../global-css/Colors.scss";


.game-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 830px;

    .left-side {
        width: 60%;
    }

    .right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .game-header {
        color: $dcolor;
        padding: 5px;
        font-size: 3rem;

        &.id,
        &.state {
            text-align: center;
            margin: 0;
        }

        &.state {
            font-size: 2.2rem;
        }
    }
}